@import './normalize.css';
ul,li{
  list-style: none;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color:#ccc;
}
:root{
  --color-text:#666;
  --color-high-text:#ff5777;
  --color-tint:#ff8198;
  --color-background:#fff;
  --font-size:14px;
  --line-height:1.5;
}
html,body{
  height: 100%;
  width: 100%;
}